body {
  background: #303030;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

img, input, textarea {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

input, textarea {
  display: block;
  border: black 1px solid;
  padding: 16px;
}

a {
  color: white;
  text-decoration: none;
}