input, textarea, button {
  border: 1px #ccc solid;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

.card {
  border: 1px #ccc solid;
  border-radius: 6px;
  padding: 0px 24px;
}
