#terminal-app {
	background-color: #222225;
	color: #e8e9ed;
}

#terminal-input {
	width: auto;
	background: transparent;
	color: #e8e9ed;
	border: none;
	padding-left: 0px;
}

#post-title {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

dt {
	font-weight: bold;
}